<html lang="en">
<head>
  <meta name="author" content="www.twitter.com/cheeriottis">
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/css/homepage.css') }}">
</head>
<body align="center">
  <a href="https://127.0.0.1:5000/addfriend" class="action-button shadow animate blue">Add friends</a>
  <a href="#" class="action-button shadow animate red">History</a>
  <a href="#" class="action-button shadow animate green">Add workout</a>
</body>
</html>
